body {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12263f;
  text-align: left;
  background-color: #f9fbfd;
}
label {
  display: inline-block;
  margin: 0px 5px 0.5rem;
}

/* Helper Classes */
.text-center {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center !important;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Margins */
.mb-5,
.my-5 {
  margin-bottom: 2.25rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2.25rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 0.75rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2.25rem !important;
}

/* Navbar */
.logo {
  max-width: 100%;
  max-height: 2.5rem;
}
.navbar {
  background-color: #fff;
  border-color: #e3ebf6;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 5px 0;
  text-align: center;
}

/* Body */
.section {
  padding: 20px 0 120px;
}
.container {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
}

/* Form */
.form-group {
  margin-bottom: 1.375rem;
}
.form-control {
  display: block;
  width: -moz-available;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12263f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d2ddec;
  margin: 0px 5px;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Dropdown-control {
  border: 0px !important;
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #12263f;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  margin: 0px 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #2c7be5;
  border-color: #2c7be5;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.75rem 1.25rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.5rem;
}
.btn-block {
  display: block;
  width: -moz-available;
}
